<a href="https://colab.research.google.com/github/bd-hedstrom/food-sales-predictions_Hedstrom/blob/main/Project_2_Hedstrom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Choice 1: Japanese Whiskey Reviews

**1) Source of data**

 https://www.kaggle.com/koki25ando/japanese-whisky-review

**2) Brief description of the data**

A collection of reviews of 4 top selling japanese whiskey brands.

**3) What is the target?**

**4) Is this a classification or regression problem?**

I believe this would require a classification oriented approach as I would be evaluating whether the rating is good, bad or somewhere in the middle

**5) How many features?**

5

**6) How many rows of data?**

1130

**7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**

The reviews themselves might be a bit of a nightmare. Inconsistent/Incorrect spelling, unclear opinions..Might be a difficult task. However, I think being strategic and filtering for specific buzzwords to gather some insightful data would be fun!

In [2]:
import pandas as pd

filename = '/content/japanese_whisky_review.csv'
raw_whiskey_data = pd.read_csv(filename)
raw_whiskey_data.head()

   Unnamed: 0  ...                                     Review_Content
0           1  ...  Dull taste. High price. No finish. Over-hyped ...
1           2  ...  Delicious! sugared red fruits and sweet with a...
2           3  ...  I am not a whisky expert but i really love the...
3           4  ...  This is a terrible Yamazaki.  Very young, unsh...
4           5  ...  First time and I like it - fresh but not thin ...

[5 rows x 5 columns]

In [4]:
raw_whiskey_data.shape

(1130, 5)

## Choice 2: Video Game Sales

**1) Source of data**

https://www.kaggle.com/gregorut/videogamesales

**2) Brief description of data**

A compilation of reviews of various video games

**2) Brief description of the data**

 List of video game sales consisting of titles which sold more than 100,000 copies

**3) What is the target?**

**4) Is this a classification or regression problem?**

I believe this would be a regression problem

**5) How many features?**

11

**6) How many rows of data?**

16598

**7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?**

I think finding the most appropriate scope would be the most challenging as there is a massive amount of data to narrow down to tell a proper story with the data. The data itself seems very consistent but I think making sure there aren't any hidden spaces or checking for data types will also be a concern.

In [5]:
import pandas as pd

filename = '/content/videoGameSales.csv'
raw_VG_data = pd.read_csv(filename)
raw_VG_data.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [6]:
raw_VG_data.shape

(16598, 11)