<a href="https://colab.research.google.com/github/bd-hedstrom/food-sales-predictions_Hedstrom/blob/main/Sales_Predictions_Hedstrom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

In [11]:
filename = '/content/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [12]:
df.info()

# 12 columns, 8523 rows
# object, float, int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [13]:
df = df.drop_duplicates()
print(df)
# there were seemingly no duplicates as the row count didnt change

In [18]:
#Outlet_Size and Item_Weight are missing values
average_weight = df['Item_Weight'].mean()
df['Item_Weight'] = df['Item_Weight'].fillna(average_weight)
# Average weight to fill in the missing data wont skew the aggregate item weight low or high
df['Outlet_Size'] = df['Outlet_Size'].fillna('Medium')
# Medium is a safe bet to assume as its between High and Low
print(df)
df.info()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 865.6+ KB

In [ ]:
# I am unsure of how to fix inconsistent data in this way. I know there are some
# fuzzy logic things that could be done or value mapping but I am unsure how
# to do them.

In [19]:
print('Item_Weight Stats:')
print('Mean', df['Item_Weight'].mean())
print('Max', df['Item_Weight'].max())
print('Min', df['Item_Weight'].min())

print('Item_Visibility Stats:')
print('Mean',df['Item_Visibility'].mean())
print('Max', df['Item_Visibility'].max())
print('Min', df['Item_Visibility'].min())

print('Item_MRP Stats:')
print('Mean',df['Item_MRP'].mean())
print('Max', df['Item_MRP'].max())
print('Min', df['Item_MRP'].min())

print('Outlet_Establishment_Year Stats:')
print('Mean',df['Outlet_Establishment_Year'].mean())
print('Max', df['Outlet_Establishment_Year'].max())
print('Min', df['Outlet_Establishment_Year'].min())

print('Item_Outlet_Sales Stats:')
print('Mean',df['Item_Outlet_Sales'].mean())
print('Max', df['Item_Outlet_Sales'].max())
print('Min', df['Item_Outlet_Sales'].min())

Item_Weight Stats:
Mean 12.857645184136409
Max 21.35
Min 4.555
Item_Visibility Stats:
Mean 0.06613202877895127
Max 0.328390948
Min 0.0
Item_MRP Stats:
Mean 140.9927819781768
Max 266.8884
Min 31.29
Outlet_Establishment_Year Stats:
Mean 1997.8318667135984
Max 2009
Min 1985
Item_Outlet_Sales Stats:
Mean 2181.2889135750365
Max 13086.9648
Min 33.29